<li class="card">
    <img src="{{image}}" />
    <p>
        <strong>Name: </strong><span class="name">{{name}}</span>
    </p>
    <p>
        <strong>Category: </strong><span class="category">{{category}}</span>
    </p>
    <p><strong>Formula:</strong><span class="formula">{{formula}}</span></p>
    <a class="details-btn" href="/catalog/{{_id}}">Details</a>
</li>