<div class="volcano">
    <div class="volcano-img">
        <img src="{{image}}">
    </div>
    <div class="volcano-info">
        <h1>{{name}}</h1>
        <p><span>Location: </span>{{location}}</p>
        <p><span>Volcano Type: </span>{{typeVolcano}}</p>
    </div>

    <a href="/catalog/{{_id}}" class="btn-details">Details</a>
</div>