<main class="details">
    <!-- Details page -->
    <section id="details">
        <div id="details-wrapper">
            <p id="details-title">Name: {{stone.name}}</p>
            <div id="img-wrapper">
                <img src="{{stone.image}}" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Category: <span id="details-category">{{stone.category}}</span>
                            </p>
                        </td>
                        <td>
                            <p>Color: <span id="details-color">{{stone.color}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Location: <span id="details-location">{{stone.location}}</span></p>
                        </td>
                        <td>
                            <p>Formula: <span id="details-formula">{{stone.formula}}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description: <span id="details-description">{{stone.description}}</span></p>
            </div>

            <!--Edit and Delete are only for creator-->
            {{#if hasUser}}
            <div id="action-buttons">
                {{#if isOwner}}
                <a href="/edit/{{stone._id}}" id="edit-btn">Edit</a>
                <a href="/delete/{{stone._id}}" id="delete-btn">Delete</a>
                {{else}}
                    {{#if hasLiked}}
                    <p id="already-liked">You already liked this stone!</p>
                    {{else}}
                    <a href="/like/{{stone._id}}" id="like-btn">Like</a>
                    {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </section>
</main>